
    <header>
        

        <div class="left-header">
            <div class="sns-facebook" >
                <a href ="#a" target="_blank"> <i class="fab fa-facebook fa-2x"></i> </a>
            </div>

            <div class="sns-insta" >
                <a href ="#a" target="_blank"> <i class="fab fa-instagram fa-2x"></i> </a>
            </div>
        </div>

        <div class="middle-header">
            <a href="/" class="logo"><img class ="main-logo" src ="../images/Charmant360x97.png"></a>                           
               
                    <ul class ="menu-list">
                        <li><a href="/brand"><span>Brand</span></a></li>
                        <li><a href="/perfume"><span>Perfume</span></a></li>
                        <li><a href="/review"><span>Review</span></a></li>
                        <li><a href="/q&a"><span>Q&A</span></a></li>
                    </ul>
                
        </div>

        
        <div class="right-header">
            <div class="header-signup" >
                <a href ="/signup"> <i class="fas fa-sign-in-alt fa-lg"></i> </a>
            </div>

            <div class="header-login" >
                <a href ="/logingo"> <i class="far fa-user fa-lg"></i> </a>
            </div>

            <div class="header-mypage" >
                <a href ="/mypage" > <i class="far fa-address-card fa-lg"></i> </a>
            </div>

            <div class="header-cart" >
                <a href ="/cart" > <i class="fas fa-shopping-cart fa-lg"></i> </a>
            </div>

        </div>
    
</header>
